
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


body{
    overflow-x: hidden;
}


.Session-groups::-webkit-scrollbar {
  display: none;
}

.myTeam{
    position: absolute;
    top: 0;
    left: 0;
       width: 100%;
        height: 100dvh;
           background: radial-gradient(
        circle at center,
        #163b25 0%,
        #0b1f16 35%,
        #040708 75%,
        #000000 100%
    );


    }

    .navbar-header{
        background-color: rgb(0,0,0,0.3);
        backdrop-filter: blur(3px);
        height: 8vh;


            background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);



    }
    .nav-option{
         display: flex;

         width: 100%;
         background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
         backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
         border-radius: 16px;
         /* border: 1px solid rgba(255, 255, 255, 0.15); */
         border-radius: 10px;
            /*background: #0f0f0f;
              background: linear-gradient(
                  5deg,
                  #000000 0%,
                  #111111 50%,
                  #39ff14 100%
              );
          */




    }
    .first-nav-option{



        width: 50%;
        height: 8vh;
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 25px;
            height: 25px;
            transform: translateX(10px);
             user-select: none;
        }
        h1{
            transform: translateX(15px);
            font-size: 20px;
            color: #f3eaea;
            font-weight: bold;
            font-family:sans-serif;
            letter-spacing:1.4px;
            user-select: none;

            font-family: "Rubik Spray Paint", system-ui;
            font-weight: 400;
            letter-spacing: 1px;
            font-style: normal;
        }

    }
    .seconde-nav-option{
         width: 50%;
         height: 8vh;

         display: flex;
         align-items: center;
         justify-content: flex-end;
         gap: 10px;

    }
    .seconde-nav-option img:first-child{
         width: 40px;
         height: 40px;
         user-select: none;

    }

    .seconde-nav-option img:nth-child(2){
         width: 25px;
         height: 25px;
         transform: translateY(1px);
         user-select: none;

    }
    .nav-option img:hover{
        cursor: pointer;

    }
  .nav-option img:active{
        cursor: pointer;
        background-color: #2a3f2a;
        border-radius: 10px;
        padding: 3.4px;
    }
    .refresh_option{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        user-select: none;
        background-color: rgb(0,0,0,0.5);
        backdrop-filter: blur(3px);
    }
    .refresh_option img{
        width: 30px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 30px;
        transition: all ease;
        cursor: pointer;
    }
    .refresh_option img:active{
        transform: scale(1.1);

    }
    .Session-groups{
         user-select: none;
         margin-top: 2px;
         height: 85vh;
         overflow: auto;
         border-radius: 10px;
         background-color: rgb(0,0,0,0.5);
         backdrop-filter: blur(3px);
         display: flex;
         flex-wrap: wrap;
         gap: 10px;



    }


    .add__session{
        width: 34px;
        height: 34px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        position: absolute;
        bottom:50px;
        right: 180px;

        background: rgba(37, 176, 245, 0.9); /* Semi-transparent */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: white;
        z-index: 1999;
         filter: drop-shadow(0 0 0.75rem rgb(196, 180, 183));




    }
    .ContainerSessionadding{
        position: absolute;
        bottom:30px;
        right: 20px;

        width: 20%;
        height: 130px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
        user-select: none;

    }
    .create_session_card{
        width: 50%;
        height: 40%;


        border-radius: 30px;

            background: rgba(8, 10, 11, 0.90); /* Semi-transparent /
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); / Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);

        /* filter: drop-shadow(0 0 0.75rem crimson); */
        display: flex;
        justify-content: end;
        align-items: center;
        justify-content: space-around;

        filter: drop-shadow(0 0 0.75rem var(--icon-color));
        transform: translateX(15px);



    }
    .create_session_card h1{
         user-select: none;
         font-size: 15px;
         color: white;
         font-family: "Akaya Kanadaka", system-ui;
         font-weight: 400;
         font-style: normal;
    }
    .avatar_create__session_card{
        width: 30px;
        height: 30px;

        border: 1px solid var(--icon-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .avatar_create__session_card img{
        width: 100%;
        height: 100%;
        animation: Rotate 1s  linear infinite;
    }

    @keyframes Rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }


    }































        .create_session_card2{
        width: 40%;
        height: 40%;

        filter: drop-shadow(0 0 0.75rem var(--icon-color2));

        border-radius: 30px;

            background: rgba(8, 10, 11, 0.90); /* Semi-transparent /
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); / Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);

        /* filter: drop-shadow(0 0 0.75rem crimson); */
        display: flex;
        justify-content: end;
        align-items: center;
        justify-content: space-around;

    }
    .create_session_card2 h1{
         user-select: none;
         font-size: 15px;
         color: white;
         font-family: "Akaya Kanadaka", system-ui;
         font-weight: 400;
         font-style: normal;
    }
    .avatar_create__session_card2{
        width: 30px;
        height: 30px;

        border: 1px solid var(--icon-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .avatar_create__session_card2 img{
        width: 100%;
        height: 100%;
        animation: Rotate 10s  linear infinite;
    }

    @keyframes Rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }

    }



    .bounce {
        transition: all 0.2s ease-in-out;
    }
    .bounce:active{
        transform: scale(1.2);

    }

    .off {
        display: none;
    }




.youdontfollowroomdes{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 200px;
        height: 200px;
        filter: drop-shadow(0 0 0.75rem var(--icon-color));

    }



    h1{
        color: white;

        text-transform: capitalize;
        font-size: 27px;

          font-family: "Rubik Spray Paint", system-ui;
            font-weight: 400;
            letter-spacing: 1px;
            font-style: normal;

    }
    h2{
           color: #7ECD6C;


           font-family: "Rubik Spray Paint", system-ui;
            font-weight: 400;
            letter-spacing: 1px;
            font-style: normal;
            margin-bottom: 13px;
    }
    p{
            color: grey;

            font-weight: 100;
            font-size: 15px;
            letter-spacing: .2px;

            font-family: "Google Sans Flex", sans-serif;
            font-optical-sizing: auto;
            font-weight:600;
            font-style: normal;
            font-variation-settings:
                "slnt" 0,
                "wdth" 100,
                "GRAD" 0,
                "ROND" 0;

}




 @keyframes colorChange{
  from {
    filter: drop-shadow(0 0 0.75rem var(--icon-color));
  }

  to {
    filter: drop-shadow(0 0 0.75rem crimson);
  }
}






.button-session-desing{
    margin-top: 30px;
    border-radius: 10px;
    padding: 6px 10px 6px 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 15px;




    border: 1px solid rgba(80, 255, 100, 0.45);
    border-radius: 16px;

    box-shadow:
        0 0 15px rgba(50, 255, 80, 0.25),
        0 0 35px rgba(50, 255, 80, 0.12),
        inset 0 1px 0 rgba(255, 255, 255, 0.18);
    color: white;
    font-weight: 600;
    padding: 14px 28px;
    cursor: pointer;
    transition: all 0.25s ease;
    background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
}




















@media (max-width: 800px) {

    .myTeam{

        width: 100%;
        height: 100dvh;
          background: radial-gradient(
        circle at center,
        #163b25 0%,
        #0b1f16 35%,
        #040708 75%,
        #000000 100%
    );

    }

    .navbar-header{

            backdrop-filter: blur(3px);
            height: 8vh;
            background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);



    }
    .nav-option{
         display: flex;
         width: 100%;
         background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
         backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
         border-radius: 16px;
         /* border: 1px solid rgba(255, 255, 255, 0.15); */
         border-radius: 10px;
          background: #0f0f0f;
            background: linear-gradient(
                135deg,
                #000000 0%,
                #111111 50%,
                #39ff14 100%
            );


    }
    .first-nav-option{



        width: 50%;
        height: 8vh;
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 25px;
            height: 25px;
            transform: translateX(10px);
             user-select: none;
        }
        h1{
            transform: translateX(15px);
            font-size: 20px;
            color: #f3eaea;
            font-weight: bold;
            font-family:sans-serif;
            letter-spacing:1.4px;
            user-select: none;

            font-family: "Rubik Spray Paint", system-ui;
            font-weight: 400;
            letter-spacing: 1px;
            font-style: normal;
        }

    }
    .seconde-nav-option{
         width: 50%;
         height: 8vh;

         display: flex;
         align-items: center;
         justify-content: flex-end;
         gap: 10px;

    }
    .seconde-nav-option img:first-child{
         width: 40px;
         height: 40px;
         user-select: none;

    }

    .seconde-nav-option img:nth-child(2){
         width: 25px;
         height: 25px;
         transform: translateY(1px);
         user-select: none;

    }
    .nav-option img:hover{
        cursor: pointer;

    }
  .nav-option img:active{
        cursor: pointer;
        background-color: #2a3f2a;
        border-radius: 10px;
        padding: 3.4px;
    }

    .Session-groups{


         margin-top: 2px;

         height: 85vh;
         overflow: auto;

         border-radius: 10px;

         background-color: rgb(0,0,0,0.5);
         backdrop-filter: blur(3px);
         display: flex;
         flex-wrap: wrap;




    }


    .add__session{
        width: 34px;
        height: 34px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        position: absolute;
        bottom:50px;
        right: 0px;

        background: rgba(37, 176, 245, 0.9); /* Semi-transparent */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Safari/iOS */
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: white;
        z-index: 1999;
         filter: drop-shadow(0 0 0.75rem rgb(196, 180, 183));




    }
    .ContainerSessionadding{
        position: absolute;
        bottom:30px;
        right: 20px;

        width: 50%;
        height: 130px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
        user-select: none;

    }
    .create_session_card{
        width: 80%;
        height: 40%;


        border-radius: 30px;

            background: rgba(8, 10, 11, 0.90); /* Semi-transparent /
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); / Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);

        /* filter: drop-shadow(0 0 0.75rem crimson); */
        display: flex;
        justify-content: end;
        align-items: center;
        justify-content: space-around;

        filter: drop-shadow(0 0 0.75rem var(--icon-color));
        transform: translateX(15px);



    }
    .create_session_card h1{
         user-select: none;
         font-size: 15px;
         color: white;
         font-family: "Akaya Kanadaka", system-ui;
         font-weight: 400;
         font-style: normal;
    }
    .avatar_create__session_card{
        width: 30px;
        height: 30px;

        border: 1px solid var(--icon-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .avatar_create__session_card img{
        width: 100%;
        height: 100%;
        animation: Rotate 1s  linear infinite;
    }

    @keyframes Rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }


    }































        .create_session_card2{
        width: 80%;
        height: 40%;

        filter: drop-shadow(0 0 0.75rem var(--icon-color2));

        border-radius: 30px;

            background: rgba(8, 10, 11, 0.90); /* Semi-transparent /
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px); / Safari/iOS */
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.15);

        /* filter: drop-shadow(0 0 0.75rem crimson); */
        display: flex;
        justify-content: end;
        align-items: center;
        justify-content: space-around;

    }
    .create_session_card2 h1{
         user-select: none;
         font-size: 15px;
         color: white;
         font-family: "Akaya Kanadaka", system-ui;
         font-weight: 400;
         font-style: normal;
    }
    .avatar_create__session_card2{
        width: 30px;
        height: 30px;

        border: 1px solid var(--icon-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .avatar_create__session_card2 img{
        width: 100%;
        height: 100%;
        animation: Rotate 10s  linear infinite;
    }

    @keyframes Rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }

    }



    .bounce {
        transition: all 0.2s ease-in-out;
    }
    .bounce:active{
        transform: scale(1.2);

    }

    .off {
        display: none;
    }
}
