


.__update__deck{

  width: 300px;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  background: rgba(8, 10, 11, 0.30); /* Semi-transparent */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); /* Safari/iOS */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: grey;
  margin-left: auto;
  margin-right: auto;


}
.componentLoad{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}





    .terrain-container {
          width:40%;
          height: 100dvh;
          color: white;
          position: relative;
          user-select: none;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid grey;


     }

    .terrain-wallpaper  {
      width:100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
         -webkit-user-drag: none;
    }

.floatAvtar{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;   user-select: none;
    }
    .floatAvtar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    user-select: none;
     user-select: none;
     -webkit-user-drag: none;


    }
.specialFloat{
transform: scale(1.1);
filter: brightness(120%);
box-shadow:
  0 25px 50px rgba(0, 0, 0, 0.55),
  0 10px 20px rgba(0, 0, 0, 0.40),
  0 0 30px rgba(0, 0, 0, 0.40);

border: 1px solid lightslategrey;
cursor: grabbing;
 }
.swiper-slide{
width: 25%;
height: 40%;
position: absolute;
bottom: 0;
background-color: #0d0e0e;
border-radius: 30px 30px 0px 0px;
z-index: 9999;
border: 1px solid rgb(49, 48, 48);




}
.holiding-swiper{
  width: 90px;
  height: 8px;
  background-color: var(--icon-color);
  position: absolute;
  top: 10px;
  border-radius: 10px;
  cursor: pointer;

  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  margin-top: 4px;


}

.animationSmoothSwiper{
   transition: .5s all;
}
.img-holiding{
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
    background: rgba(8, 10, 11, 0.30); /* Semi-transparent */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari/iOS */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);



     .floatAvtar{
        margin: 6px;
        flex-shrink: 0;
         }
        .floatAvtar:active{
        transform: scale(1.1);
         filter: brightness(1.2);
        }
}

.close-terrain{
color: red;
position: absolute;
top: 0;
right: 0;
background-color: black;
border-radius: 100%;
width: 10px;
height: 10px;
width: 25px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(8, 10, 11, 0.3); /* Semi-transparent */
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);

 }
 .close-terrain:active{
 transform: scale(1.1);
 }
.specialSwiper{
background-color: #00a6fb;
cursor: grab;
}

.clear-holding{
margin-top: 30px;

width: 100%;
height: 40px;
background-color: black;



display: flex;
align-items: center;
gap: 10px;

    background: rgba(8, 10, 11, 0.30); /* Semi-transparent */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari/iOS */



}


.glass {
  background: rgba(8, 10, 11, 0.90);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.clear-holding button{
width: 100px;
padding: 5px;
border-radius: 10px;
border: none;
margin-left: 10px;
letter-spacing: .3px;
cursor: pointer;
background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);
color: grey;
font-weight: bold;
}

.clear-holding img{
    width: 17px;
    height: 17px;

}
.clear-holding h1{
     color: grey;
     font-size: 17px;

}
.overNumberClose{

width:70px;
display: flex;
align-items: center;
border-radius: 10px;
justify-content: space-around;
transform: translate(10px,-0.6px);
background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);
padding: 2px;
}

.Pop-up-delete{


            width: 160px;
            border-radius: 10px;
            height:40px;
            background-color: black;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            background: rgba(8, 10, 11, 0.4);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border-radius: 16px;
            border: 1px solid #344053;
            display: flex;
            align-items: center;
            justify-content: space-around;
            user-select: none;
            cursor: pointer;


            animation: move  400ms  ease   ;





            h1{
            color: grey;
            font-size: 13.4px;

            }
            img{
            transform: translateY(1.5px);
            width: 34px;
            height: 34px;
            }



}




.pop-up-issue{


            width: 300px;
            border-radius: 10px;
            height:40px;
                        

            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            background: rgb(132 15 0 / 70%);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border-radius: 16px;
            border: 1px solid hsl(9, 99%, 36%);
            display: flex;
            align-items: center;
            justify-content: space-around;
            user-select: none;
            cursor: pointer;


            animation: move  400ms  ease   ;





            h1{
            color: #d4d4d4;
            font-size: 12.4px;
            letter-spacing: .5px;
            font-weight: 300;

            }
            


}

.Pop-up-sucess2{



  
            width: 250px;
            border-radius: 10px;
            height:40px;
         
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            background: #a7c957;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border-radius: 16px;
            border: 1px solid #a7c957;
            display: flex;
            align-items: center;
           justify-content : space-around;
            user-select: none;
            cursor: pointer;


            animation: move  400ms  ease   ;





            h1{
             color: rgb(38 64 38);
            font-size: 13.4px;

            }
            img{
            transform: translateY(1.5px);
            width: 34px;
            height: 34px;
            }



}

@keyframes move  {
0%{
transform: translateX(0px) ;
}
50%{
transform: translateX(30px) ;
}
100%{
transform: translateX(0px) ;
}







}



@media (max-width: 800px) {

    .terrain-container {
          width: 100%;
          height: 100dvh;
          color: white;
          position: relative;
          user-select: none;

     }

    .terrain-wallpaper  {
      width:100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
         -webkit-user-drag: none;
    }

.floatAvtar{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;   user-select: none;
    }
    .floatAvtar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    user-select: none;
     user-select: none;
     -webkit-user-drag: none;


    }
.specialFloat{
transform: scale(1.1);
filter: brightness(120%);
box-shadow:
  0 25px 50px rgba(0, 0, 0, 0.55),
  0 10px 20px rgba(0, 0, 0, 0.40),
  0 0 30px rgba(0, 0, 0, 0.40);

border: 1px solid lightslategrey;
cursor: grabbing;
 }
.swiper-slide{
width: 100%;
height: 40%;
position: absolute;
bottom: 0;
background-color: #040708;
border-radius: 30px 30px 0px 0px;
z-index: 9999;




}
.holiding-swiper{
  width: 90px;
  height: 8px;
  background-color: var(--icon-color);
  position: absolute;
  top: 10px;
  border-radius: 10px;
  cursor: pointer;

  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  margin-top: 4px;


}

.animationSmoothSwiper{
   transition: .5s all;
}
.img-holiding{
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
    background: rgba(8, 10, 11, 0.30); /* Semi-transparent */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari/iOS */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);



     .floatAvtar{
        margin: 6px;
        flex-shrink: 0;
         }
        .floatAvtar:active{
        transform: scale(1.1);
         filter: brightness(1.2);
        }
}

.close-terrain{
color: red;
position: absolute;
top: 0;
right: 0;
background-color: black;
border-radius: 100%;
width: 10px;
height: 10px;
width: 25px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(8, 10, 11, 0.3); /* Semi-transparent */
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);

 }
 .close-terrain:active{
 transform: scale(1.1);
 }
.specialSwiper{
background-color: #00a6fb;
cursor: grab;
}

.clear-holding{
margin-top: 30px;

width: 100%;
height: 40px;
background-color: black;



display: flex;
align-items: center;
gap: 10px;

    background: rgba(8, 10, 11, 0.30); /* Semi-transparent */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari/iOS */



}


.glass {
  background: rgba(8, 10, 11, 0.90);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.clear-holding button{
width: 100px;
padding: 5px;
border-radius: 10px;
border: none;
margin-left: 10px;
letter-spacing: .3px;
cursor: pointer;
background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);
color: grey;
font-weight: bold;
}

.clear-holding img{
    width: 17px;
    height: 17px;

}
.clear-holding h1{
     color: grey;
     font-size: 17px;

}
.overNumberClose{

width:70px;
display: flex;
align-items: center;
border-radius: 10px;
justify-content: space-around;
transform: translate(10px,-0.6px);
background: rgba(8, 10, 11, 0.90); /* Semi-transparent */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); /* Safari/iOS */
border-radius: 16px;
border: 1px solid rgba(255, 255, 255, 0.15);
padding: 2px;
}

.Pop-up-delete{


            width: 160px;
            border-radius: 10px;
            height:40px;
            background-color: black;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            background: rgba(8, 10, 11, 0.4);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border-radius: 16px;
            border: 1px solid #344053;
            display: flex;
            align-items: center;
            justify-content: space-around;
            user-select: none;
            cursor: pointer;


            animation: move  400ms  ease   ;





            h1{
            color: grey;
            font-size: 13.4px;

            }
            img{
            transform: translateY(1.5px);
            width: 34px;
            height: 34px;
            }



}
}


@keyframes move  {
0%{
transform: translateX(0px) ;
}
50%{
transform: translateX(30px) ;
}
100%{
transform: translateX(0px) ;
}
}
